#root {
  
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

div {
  width: 100%;
  height: 100%;
  color:white;
  align-items: center;
}



.wrapper {
    display: grid;
    width:600px;
    height:600px;
    margin: auto;
}

.row1{
  display: grid;
  grid-template-columns: 45% 35% 20%;
  align-self: start;
}

.row2{
  display: grid;
  grid-template-columns: 45% 20% 35%;
}

.row1>div>div, .row2>div, .livingroom, .kitchen{
  display: flex;
  align-items: center;
  justify-content: center;
}

.col1{
  display: flex;
  flex-direction: column;
}

 #bedroom-1{
    height:70%;
    justify-self: start;
  }

  #bath-full{
    height: 30%;
  }

.bedroom{
  background-color: steelblue;
}

.bathroom{
  background-color: olivedrab;
  
}

.livingroom{
  background-color: tan;
  
}

.kitchen{
background-color: goldenrod;

}

div.appliances{
  display: flex;
  height:15%;
  width: 100% !important;
}

.oven{
  background-color: firebrick;
}

.sink{
  background-color: chocolate;
}


